RewriteEngine on

ErrorDocument 403  http://localhost/StudentHub/error/index.php
ErrorDocument 404  http://localhost/StudentHub/error/index.php
ErrorDocument 500  http://localhost/StudentHub/error/index.php


Options -Indexes
