/*Custom CSS*/
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

.custom-navbar{
    background-color: #fff;
}

.custom-navbar ul a{
    color: #F56400;
    font-weight: bold;
}


.custom-navbar a{
  color: #F56400;
}

.custom-text-color {
    color: #F56400;
}

.custom-bg {
    background: #F56400;
}

.custom-bg:hover, .custom-bg-lt {
    background: #f8af7d;
}

.custom-btn {
  background: #f78d44;
}

.custom-btn:hover {
  background: #f7ae7b;
}

.panel {
    padding: 10px;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: #444;
}
/* Index Page CSS*/
.navbar-logo{
    width: 70px;
    height: 55px;
    margin: 5px;
}

.navbar-fixed, .modal {
    z-index: 99999;
}

.search{
  margin-right: 500px;
  height: 10px;
}

.search-sm-div{
   padding: 0px 10px 10px 0px;

}

.form-logo {
    height: 80px;
    width: 80px;
    margin-left: 35%;
}

.user-form input{
    text-align: center;
}

.user-form button {
  width: 100%;
}


.side-nav-profile-div {
    margin: 2px 10%;
    border-bottom: 1px solid #ccc
}

.side-nav-profile-img {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    margin:  5px 0px 0px 0px;
    border-radius: 100%;
}

.side-nav-profile-name {
    color: #F56400;
    font-weight: bold;
}

.intro-row {
    margin-top: 20px;
}

.recent-added-carousel {
    height: 310px;
}

.item-title{
    color: #444;
    z-index: 3;
    font-weight: bold;
}

.item-sub-title {
    font-size: 14px;
    font-style: italic;
    color: #c0c0c0;
}

.carousel-item img {
    z-index: 2;
}

.pick-of-the-day-div {
    border: 1px solid #c0c0c0;
    border-radius: 3px;
}

.pick-of-the-day-img {
    width: 100%;
    height: 285px;
    border-radius: 3px;
}

.pick-of-the-day-text {
    background: #f8af7d;
    padding: 5px 2px;
    position: relative;
    margin: -42px 0 0 0px;
    border-radius: 3px;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    transition:background-color 0.2s linear;
}
.pick-of-the-day-text:hover{
  background-color: #76b0f7;
  color: #ffff;
  transition:background-color 1000ms linear;
}

.surprise-div {
    background: #f8af7d;
    padding: 20px;
    height: inherit;
    border-radius: 3px;
    margin-top: 30px;
}

.recent-item {
    transition: all 0.2s ease-in;
    padding: 5px;
}

.recent-item:hover {
    box-shadow: 0px 6px 12px #c0c0c0,
        0px 7px 14px #c0c0c0;
}

.recent-item:hover img{
    transform: scale(1);
}

.recent-item  img {
    width: 100%;
    height: 150px;
    transform: scale(1.05);
    transition: all 0.2s ease-in;
}

.mobile-slide-div {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.recent-item-sm {
     display: inline-block;
}

.recent-item-sm img {
    height: 180px;
}

/*for the process row*/
.process-row {
    background: #fbfbfb;
    padding: 5% 2%;
    margin-bottom: 90px;
}

.process-item {

}

.process-item-icon-div {
    border-radius: 100%;
    border: 5px solid rgb(245,100,0,.5);
    height: 100px;
    width: 100px;
    margin-left: 40%;
}

.process-item-icon {
    position: relative;
    line-height: 20px;
    color: #111;
}

.process-item-title, .process-item-sub-title {
  /*  color: rgb(245,100,0,.5); */
  color: #605b5b;
}


/*for the review row*/
.reviews-row {
    background:transparent;
}

.review-item {
    background: #f7f7f7;
    padding: 3%;
    border-radius: 3px;
}

.review-item-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-left: 30%;
}

.review-item-name {
    font-weight: bold;
}

.review-item-position {
    font-weight: lighter;
    font-size: smaller;
    font-style: italic;
}

.review-item-quote {
    font-size: larger;
}

.review-quote-sign {
    color: #c0c0c0;
}

/* user dashboard styling*/
.dashboard-div {
    min-height: 80vh;
    padding: 10px;
    margin: 0;
}

.dashboard-side-div li {
    list-style-type: none;
    display: block;
    height: 40px;
    background: inherit;
    margin-bottom: 5px;
    line-height: 30px;
    padding: 3px;
    border-left: 3px solid transparent;
}

.dashboard-side-div li a {
    color: #444;
    display: block;
    height: inherit;
    font-size: 16px;
}

.dashboard-side-div li.selected-item {
    border-left: 3px solid #F56400;
    background: #f7f7f7;
    cursor: default;
}

.dashboard-side-div li a.selected {
    color: #111;
    cursor: default;
}

.dashboard-side-nav-sm li{
    border-left: 3px solid transparent;
    width: inherit;
    margin: 2px 10%;
}

.dashboard-side-nav-sm li a {
    color: #444;
    cursor: default;
}


.dashboard-side-nav-sm li.selected-item {
    border-left: 3px solid #F56400;
    background: #f7f7f7;
}

.dashboard-side-nav-sm li a.selected {
    color: #111;
    cursor: default;
}

.dashboard-summary-number {
    font-size: 42px;
}

.user-dashboard-graph {
    height: 100px;
    width: 50%;
}

/*for the item posting page*/
.post-fab {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 0 30px 60px 0;
    background: #F56400;
    float: right;
    line-height: 60px;
}

.post-fab:hover {
    background: #f8af7d;
}
.add-post-form textarea {
    border: 1px solid #c0c0c0;
    max-height: 100px;
    min-height: 100px;
    margin-left: 1%;
}

.add-post-form .category-row,.add-post-form .btn-row {
    margin-left: 1%;
}

.post-item-img-preview {
    height: 110px;
    width: 110px;
}
.post-item-img {
    visibility: hidden;
}

.post-item-img-label {
    height: 50px;
    cursor: pointer;
    color: #fff;
    line-height: 50px;
    text-align: center;
    padding: 2%;
    border-radius: 3px;
}

.user-item-img {
    height: 50px;
    width: 50px;
}

.user-item-action-icon {
    font-size: 20px;
    cursor: pointer;
}

.delete-icon {
    color: red;
}

/* For the snackbar styling */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    width: 50%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    z-index: 9999;
    left: 25%;
    top: 30px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.7s;
    animation: fadein 0.7s;
}

.snackbar.hide {
    visibility: hidden;
    -webkit-animation: fadeout 0.5s 2.5s;
    animation: fadeout 0.5s 2.5s;
}

.snackbar-loader {
    height: 20px;
    width: 20px;
    margin-bottom: -2px;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

/* for the footer row*/
.footer-row {
  /*  background: rgb(245,100,0,.5); */
    background-color: #fff;
    padding: 3%  2% 0% 2%;
    margin: 0px;
}

.footer-item {

}

.footer-header-title {
    display: inline-block;
    font-weight: bolder;
    color: #000;
    font-size: 16px;
}

.footer-list li {
    list-style-type: none;
    margin-bottom: 5px;
}

.footer-list li a {
    color: #000;
}

.footer-cr {
    color: #000;
}

/*Customs css*/
address{
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.43000;
  color: #120909;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

strong{
  font-weight: bold;
}


input-placeholder { /* WebKit browsers */
    color:    red;
     opacity: 1 !important;
}

:-webkit-input-placeholder {
  color: #746B65;;

}

::-moz-placeholder {
  color: #746B65;
  opacity:

 }

:-ms-input-placeholder {
   color: #746B65;

 }

/* Custom buttons   */
.btn1{
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;

  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
.btn1, .custon-btn1{
  background-color: #fff;
  color: #F56400;
  border: 1px solid #F56400;
}
/*  Search bottom*/
.btn1, .custon-btn2{
  background-color: #F56400;
  color: #fff;
  border: 1px solid #F56400;
}

.custom-btn1:hover{
  background-color: #F56400;
  color: #fff;
}

.wrapme{
    height: 50px;
    margin-top: 5px;

}
.wrap{

}

#mb-search{
    width:75%;
    border:1px solid #e5e5e5;
}

.input-field > a #search{
    height: 40px;
    margin-top: 10px;
    border:1px solid #e5e5e5;
}
.input-field >a  #search:focus{
    border: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5 !important;
}

input[type=search]:focus {
  border-bottom: 1px solid #e5e5e5 !important; 
  box-shadow: 0 1px 0 0 #F56400 !important
}


/* Custom Mobile CSS */
@media (max-width: 1366px){

    .surprise-div {
      height: 125px;
     }

}


@media (max-width: 1200px){
    .pick-of-the-day-div {
        margin-top: -40px;
        margin-left: 0px;
        width: 100%;
        height: 200px;
    }

    .pick-of-the-day-img {
        width: 100%;
        height: 190px;
    }

    .pick-of-the-day-text {
        font-size: 12px;
    }

    .surprise-div {
      height: 180px;
      margin-top: 10px;
      margin-left: 0px;
      width: 100%;

    }
    .carousel{
      margin-top: -40px;
    }

    .dashboard-div {
        margin-top: 10vh;
        min-height: 70vh;
    }

    .user-dashboard-summary {
        margin-bottom: 10px;
    }
}

@media (max-width: 1066px) {
  .search{
      margin-right: 390px;
    }
}


@media (max-width: 1054px) {
  .search{
      margin-right: 350px;
    }
}

@media (max-width: 1024px){
    .search{
      margin-right: 300px;
    }

    .surprise-div{
      height:122px;
    }

}



@media (max-width: 992px)  {

    .pick-of-the-day-div {
      margin-top: 10px;
      margin-left: 0px;
      width: 470px;

    }

    .pick-of-the-day-img {
        width: 100%;
        height: 250px;
    }

    .pick-of-the-day-text {
        font-size: 12px;
    }

    .surprise-div {
      height: 250px;
      margin-top: -199px;
      margin-left: 490px;
      width: 480px;
    }

    .carousel{
      margin-top: 10px;
    }

    .review-item {
        margin-bottom: 10px;
    }

    .footer-item {
        margin-bottom: 5px;
    }

    .snackbar {
        visibility: hidden;
        min-width: 250px;
        width: 60%;
        margin: -90px 0 0 -40px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 20px 10px;
        position: relative;
        z-index: 9999;
        top: 30px;
    }

    .signin-modal, .signup-modal {
        margin: 2% !important;
        max-height: 75vh !important;
        width: 96%;
        width: 96%;
        height: 90vh;
    }
}


@media (max-width: 768px){
    .pick-of-the-day-div {
       margin-top: 20px;
        margin-left: 0px;
        width: 370px;
    }

    .pick-of-the-day-img {
        width: 100%;
        height: 200px;
    }

    .pick-of-the-day-text {
        font-size: 12px;
    }

    .surprise-div {
        height: 190px;
        margin-left: 390px;
        margin-top: -200px;
        width: 350px;
    }
  /**/

    .carousel{
      margin-top: 10px;
    }
}



@media (max-width: 600px){
    .pick-of-the-day-div {
        margin-top: 10px;
        margin-left: 0px;
        width: 270px;
    }

    .pick-of-the-day-img {
        width: 100%;
        height: 200px;
    }

    .pick-of-the-day-text {
        font-size: 12px;
    }

    .surprise-div {
        height: 200px;
        width: 260px;
        margin-left: 290px;
        margin-top: -195px;
    }
  /**/
}

@media (max-width: 550px){
    .pick-of-the-day-div {
        margin-top: 10px;
        margin-left: 0px;
        width: 260px;
    }

    .pick-of-the-day-img {
        width: 100%;
        height: 200px;
    }

    .pick-of-the-day-text {
        font-size: 12px;
    }

    .surprise-div {
        height: 200px;
        width: 240px;
        margin-left: 270px;
        margin-top: -195px;
    }
  /**/
}

@media (max-device-width: 480px) and (orientation: landscape){
  .pick-of-the-day-div {
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;

    }

    .pick-of-the-day-img {
        width: 100%;
        height: 190px;
    }

    .pick-of-the-day-text {
        font-size: 12px;
    }

    .surprise-div {
      height: 200px;
      margin-top: 10px;
      margin-left: 0px;
      width: 100%;

    }
}

@media (max-device-width: 480px){
  .pick-of-the-day-div {
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
       height: 200px
    }

    .pick-of-the-day-img {
        width: 100%;
        height: 190px;
    }

    .pick-of-the-day-text {
        font-size: 12px;
    }

    .surprise-div {
      height: 200px;
      margin-top: 10px;
      margin-left: 0px;
      width: 100%;

    }

}

@media (max-width: 320px) {
  .image{
    margin-top: -80px;
margin-left: -40px;
  }
}




/*for pre loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/students-hub-logo.gif) center no-repeat #fff;
}


