/*Custom CSS*/
* {
    font-family: 'Raleway', sans-serif;
}

.custom-navbar{
    background-color: #fff;
}

.custom-navbar ul a{
    /*color: #009688; */
    color: #F56400;
    font-weight: bold;
}


.custom-navbar a{
  /*  color: #009688;  */
  color: #F56400;
}
/* Index Page CSS*/
.navbar-logo{
    width: 70px;
    height: 55px;
    margin: 5px;
}

.navbar-fixed, .modal {
    z-index: 9999;
}

.side-nav-profile-div {
    margin: 2px 10%;
    border-bottom: 1px solid rgba(0,0,0,.125) ;
}

.side-nav-profile-img {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    margin:  5px 0px 0px 0px;
    border-radius: 100%;
}
.side-nav-profile-name {
    color: #009688;
    font-weight: bold;
}

.search-div {
    padding: 0px 7% 0px 2%;
}

.intro-row {
    margin-top: 20px;
}

.recent-added-carousel {
    height: 310px;
}

.item-title{
    color: #444;
    z-index: 999;
    font-weight: bold;
}

.item-sub-title {
    font-size: 14px;
    font-style: italic;
    color: #c0c0c0;
}

.carousel-item img {
    z-index: 99;
}

.pick-of-the-day-div {
    border: 1px solid rgb(0,0,0,.125);
    border-radius: 3px;
}

.pick-of-the-day-img {
    width: 100%;
    height: 290px;
    border-radius: 3px;
}

.pick-of-the-day-text {
    background-color: rgb(0,150,136,.3);
    padding: 5px 2px;
    position: relative;
    margin: -42px 0 0 0px;
    border-radius: 3px;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    transition:background-color 1000ms linear
}
.pick-of-the-day-text:hover{
  background-color: #2a417b;
  color: #ffff;
  transition:background-color 1000ms linear;
}

.surprise-div {
    background: #f9eb04;
    padding: 20px;
    height: inherit;
    border-radius: 5px;
    margin-top: 30px;
}

.recent-item {
    transition: all 0.2s ease-in;
}

.recent-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px #c0c0c0,
        0px 7px 14px #c0c0c0;
}

.recent-item  img {
    width: 100%;
    height: 150px;
}

.recent-item-sm img {
    height: 180px;
}

/* Search initializing */
#search{
  margin-right: 600px;
}

input-placeholder { /* WebKit browsers */
    color:    red;
     opacity: 1 !important;
}

:-webkit-input-placeholder {
  color: #746B65;;

}

::-moz-placeholder {
  color: #746B65;
  opacity:

 }

:-ms-input-placeholder {
   color: #746B65;

 }

/*
#search:focus{
  border-bottom: 2px solid red !important;
}

/* Overiding Code for underline color in Materialize input */

input[type=search]:focus {
  border-bottom: 1px solid #F56400 !important;
  box-shadow: 0 1px 0 0 #F56400 !important
  }




@media screen and (max-width: 993px) {
    .pick-of-the-day-div {
        margin-top: 10px;
    }

    .pick-of-the-day-img {
        width: 100%;
        height: 190px;
    }

    .pick-of-the-day-text {
        font-size: 12px;
    }

    .surprise-div {
        height: 90px;
    }
}
