/*Custom CSS*/
* {
    font-family: 'Raleway', sans-serif;
}

.custom-navbar{
    background-color: #fff;
}

.custom-navbar ul a{
    color: #F56400;
    font-weight: bold;
}


.custom-navbar a{
  color: #F56400;
}

.custom-text-color {
    color: #F56400;
}

/* Index Page CSS*/
.navbar-logo{
    width: 70px;
    height: 55px;
    margin: 5px;
}

.navbar-fixed, .modal {
    z-index: 9999;
}

.search{
  margin-right: 550px;
}

.search-sm-div{
   padding: 0px 10px 0px 0px;

}

.form-logo {
    height: 80px;
    width: 80px;
    margin-left: 35%;
}

.user-form input{
    text-align: center;
}

.user-form .btn-div {
    margin-left: 10%;
}

.side-nav-profile-div {
    margin: 2px 10%;
    border-bottom: 1px solid rgba(0,0,0,.125) ;
}

.side-nav-profile-img {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    margin:  5px 0px 0px 0px;
    border-radius: 100%;
}

.side-nav-profile-name {
    color: #F56400;
    font-weight: bold;
}

.intro-row {
    margin-top: 20px;
}

.recent-added-carousel {
    height: 310px;
}

.item-title{
    color: #444;
    z-index: 999;
    font-weight: bold;
}

.item-sub-title {
    font-size: 14px;
    font-style: italic;
    color: #c0c0c0;
}

.carousel-item img {
    z-index: 99;
}

.pick-of-the-day-div {
    border: 1px solid rgb(0,0,0,.125);
    border-radius: 3px;
}

.pick-of-the-day-img {
    width: 100%;
    height: 285px;
    border-radius: 3px;
}

.pick-of-the-day-text {
    background: rgb(245,100,0,.5);
    padding: 5px 2px;
    position: relative;
    margin: -42px 0 0 0px;
    border-radius: 3px;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    transition:background-color 200ms linear
}
.pick-of-the-day-text:hover{
  background-color: #2a417b;
  color: #ffff;
  transition:background-color 1000ms linear;
}

.surprise-div {
    background: rgb(245,100,0,.5);
    padding: 20px;
    height: inherit;
    border-radius: 3px;
    margin-top: 30px;
}

.recent-item {
    transition: all 0.2s ease-in;
    padding: 5px;
}

.recent-item:hover {
    box-shadow: 0px 6px 12px #c0c0c0,
        0px 7px 14px #c0c0c0;
}

.recent-item:hover img{
    transform: scale(1);
}

.recent-item  img {
    width: 100%;
    height: 150px;
    transform: scale(1.05);
    transition: all 0.2s ease-in;
}

.recent-item-sm img {
    height: 180px;
}

/*for the process row*/
.process-row {
    background: #fbfbfb;
    padding: 5% 2%;
    margin-bottom: 90px;
}

.process-item {

}

.process-item-icon-div {
    border-radius: 100%;
    border: 5px solid rgb(245,100,0,.5);
    height: 100px;
    width: 100px;
    margin-left: 40%;
}

.process-item-icon {
    position: relative;
    line-height: 20px;
    color: rgb(245,100,0,.5);
}

.process-item-title, .process-item-sub-title {
  /*  color: rgb(245,100,0,.5); */
  color: #605b5b;
}


/*for the review row*/
.reviews-row {
    background:transparent;
}

.review-item {
    background: #f7f7f7;
    padding: 3%;
    border-radius: 3px;
}

.review-item-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-left: 30%;
}

.review-item-name {
    font-weight: bold;
}

.review-item-position {
    font-weight: lighter;
    font-size: smaller;
    font-style: italic;
}

.review-item-quote {
    font-size: larger;
}

.review-quote-sign {
    color: #c0c0c0;
}

/* for the footer row*/
.footer-row {
  /*  background: rgb(245,100,0,.5); */
    background-color: #fff;
    padding: 3%  2% 0% 2%;
    margin: 0px;
}

.footer-item {

}

.footer-header-title {
    display: inline-block;
    font-weight: bolder;
    color: #000;
    font-size: 16px;
}

.footer-list li {
    list-style-type: none;
    margin-bottom: 5px;
}

.footer-list li a {
    color: #000;
}

.footer-cr {
    color: #000;
}

/*Customs css*/
address{
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.43000;
  color: #120909;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

strong{
  font-weight: bold;
}


input-placeholder { /* WebKit browsers */
    color:    red;
     opacity: 1 !important;
}

:-webkit-input-placeholder {
  color: #746B65;;

}

::-moz-placeholder {
  color: #746B65;
  opacity:

 }

:-ms-input-placeholder {
   color: #746B65;

 }

/* Custom buttons   */
.btn1{
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;

  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
.btn1, .custon-btn1{
  background-color: #fff;
  color: #F56400;
  border: 1px solid #F56400;
}
.custom-btn1:hover{
  background-color: #F56400;
  color: #fff;
}


input[type=search]:focus {
  border-bottom: 1px solid #F56400 !important;
  box-shadow: 0 1px 0 0 #F56400 !important
}




@media screen and (max-width: 993px) {
    .pick-of-the-day-div {
        margin-top: 10px;
    }

    .pick-of-the-day-img {
        width: 100%;
        height: 190px;
    }

    .pick-of-the-day-text {
        font-size: 12px;
    }

    .surprise-div {
        height: 90px;
    }

    .review-item {
        margin-bottom: 10px;
    }

    .footer-item {
        margin-bottom: 5px;
    }
}

/*for pre loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/students-hub-logo.gif) center no-repeat #fff;
}
